.spinner-main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.spinner {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 500%;
  border-top: 5px solid #e74c3c;
  position: relative;
  animation: load 2s linear infinite;
}

.spinner::before,.loader::after {
  content: '';
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.spinner::before {
  border-top: 5px solid #e67e22;
  transform: rotate(120deg);
}

.spinner::after {
  border-top: 5px solid #3498db;
  transform: rotate(240deg);
}

.spinner span {
  position: absolute;
  font-size: larger;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}